{% extends "base.html" %}
{% block content %}
  <section class="bakery-side">
  </section>
  <section class="pages-content">
    <form action="/bakery/orders" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% if errors %}
        <ul>
          {{errors}}
        </ul>
      {% endif %}
      <div class="order-items" id="order-items">
        <div class="order-item" id="order-item">
          <p>
            <label for="id_cake">Pastel</label>
            <select name="cake" id="id_cake" required>
              <option value selected>Selecciona un pastel</option>
              {% for cake in cakes %}
              <option value="{{cake.id}}">{{cake.name}} - ${{cake.price}}</option>
              {% endfor %}
            </select>
          </p>
          <p>
            <label for="id_quantity">Cantidad</label>
            <input type="number" name="quantity" id="id_quantity" min="1" oninvalid="this.setCustomValidity('Debe ordenar entre 1 a 100 pasteles')" max="100" required>
          </p>
          <button type="button" onclick="deleteForm(event)">Eliminar</button>
        </div>
      </div>
      <button type="button" onclick="addForm()" class="add-item"> Agregar pastel </button>
      <button type="submit" class="btn btn-primary">Aceptar</button>
    </form>
    <div class="link-container">
      <a href="/bakery/orders">Volver</a>
    </div>
    <script>
      const child = document.getElementById('order-item')
      const cloneChild = child.cloneNode(true)
      
      const addForm = () => {
        const father = document.getElementById('order-items');
        const clone = cloneChild.cloneNode(true)
        father.appendChild(clone)
      }
  
      const deleteForm = event => {
        console.log(event.target.parentElement.remove())
      }
    </script>
  </section>
{% endblock content %}
