{% extends "base.html" %}
{% block content %}
  <section class="bakery-side">
  </section>
  <section class="pages-content">
    
    <button onclick="location.href='/bakery/orders/new'">agregar</button>
      <table>
        <tr>
        <th>Total</th>
        <th>Fecha de expedición</th>
    
        </tr>
        {% for order in orders %}        
          <tr>
            <td>{{order.total}}</td>
            <td>{{order.created_at}}</td>
            <td><button id="{{order.id}}" onclick="location.href='/bakery/orders/{{order.id}}/edit'">actualizar</button></td>
            <td><button id="{{order.id}}" onclick="location.href='/bakery/orders/{{order.id}}/delete'">eliminar</button></td>
          </tr>
        {% endfor %}
        {% for item in order_items %}       
          <p>{{item.order.id}}</p>
          <p>{{item.product.name}}</p>
          <p>{{item.quantity}}</p>
        {% endfor %}
    
    
      </table>
    
  </section>
{% endblock content %}
