{% extends "base.html" %}
{% block content %}
    <section class="bakery-side">
    </section>
    <section class="pages-content">
      <form action="/bakery/orders/{{id}}/edit" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if errors %}
          <ul>{{errors}}</ul>
        {% endif %}
    
        <div class="order-items" id="order-items">
          {% for orderItem in orderItems %}
            <div class="order-item" id="order-item">
              <input type="hidden" name="id" value="{{orderItem.id}}">
              <p>
                <label for="id_cake">Pasteles</label>
                <select name="cake" id="id_cake" required>
                  <option value selected>Selecciona un pastel</option>
                  {% for cake in cakes %}
                    {% if orderItem.cake.id == cake.id %}
                      <option value="{{cake.id}}" selected>{{cake.name}} - ${{cake.price}} </option>
                    {% else %}
                      <option value="{{cake.id}}">{{cake.name}} - ${{cake.price}} </option>
                    {% endif %}
                  {% endfor %}
                </select>
              </p>
              <p>
                <label for="id_quantity">Cantidad</label>
                <input type="number" name="quantity" value="{{orderItem.quantity}}" id="id_quantity" min="0" required>
              </p>
              <button type="button" onclick="deleteForm(event)">Eliminar</button>
            </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Aceptar</button>
      </form>
      <div class="link-container">
        <a href="/bakery/orders">Volver</a>
      </div>
      <script>
        const deleteForm = event => {
          const parent = event.target.parentElement;
          parent.remove();
        }
      </script>
  </section>
{% endblock content %}
    
