{% extends "base.html" %}
{% block content %}
    <section class="bakery-side">
    </section>
    <section class="pages-content">
      <form action="/bakery/orders/{{id}}/edit" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if errors %}
          {{errors}}
        {% endif %}
    
        <div id="order-items">
          {% for orderItem in orderItems %}
            <div id="order-item">
              <input type="hidden" name="id" value="{{orderItem.id}}">
              <div>
                <label for="id_cake">Pasteles</label>
                <select name="cake" id="id_cake" required>
                  <option value selected>Selecciona un pastel</option>
                  {% for cake in cakes %}
                    {% if orderItem.cake.id == cake.id %}
                      <option value="{{cake.id}}" selected>{{cake.name}} - ${{cake.price}} </option>
                    {% else %}
                      <option value="{{cake.id}}">{{cake.name}} - ${{cake.price}} </option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
              <div>
                <label for="id_quantity">Cantidad</label>
                <input type="number" name="quantity" value="{{orderItem.quantity}}" id="id_quantity" min=0 required>
              </div>
              <button type="button" onclick="deleteForm(event)">eliminar</button>
            </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Aceptar</button>
    
      </form>
      <script>
        const deleteForm = event => {
          const parent = event.target.parentElement;
          parent.remove();
        }
      </script>
  </section>
{% endblock content %}
    
