{% extends "base.html" %}
{% block content %}
  <form action="/borrows" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
      <label for="id_book_id">Selecciona un libro</label> 
      <select name="book_id" id="id_book_id" required>
        <option value selected>Selecciona un libro</option>
        {% for book in books %}        
          <option value="{{book.id}}">{{book.title}}</option>
        {% endfor %}
      </select>
    </p>
    
    <button type="submit" class="btn btn-primary">Aceptar</button>

  </form>
{% endblock content %}