{% extends "base.html" %}
{% block content %}
  <form action="/products" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if errors %}
      {{errors}}
    {% endif %}
    <div>
      <label for="id_name">Name</label>
      <input type="text" name="name" id="id_name" maxlength="50" required>
    </div>

    <div>
      <label for="id_price">Price</label>
      <input type="number" name="price" id="id_price" step="0.1" required>
    </div>

    <div>
      <label for="id_stock">Stock (deje en blanco si no aplica)</label>
      <input type="number" name="stock" id="id_stock" required>
    </div>

    <div>
      <label for="id_categoty">Name</label>
      <select name="category" id="id_categoty" required>
        <option value selected>Selecciona categoria</option>
        {% for category in categories %}
          <option value="{{category.id}}">{{category.name}}</option>
        {% endfor %}
      </select>
    </div>
        
    <button type="submit" class="btn btn-primary">Aceptar</button>

  </form>
{% endblock content %}