{% extends "base.html" %}
{% block content %}
  <section class="pizzarela-side">
  </section>
  <section class="pages-content">
    
    <h1>Productos</h1>
    <div class="model-container">
      {% for product in products %}
      <div class="category product">
        <a href="/pizzarela/products/{{product.id}}/edit">
          <h3>{{product.name}}</h3>
          <p><strong>Categoria --</strong> {{product.category.name}}</p>
          <p>
            <strong>Stock --</strong>
            {% if product.stock %}
              {{product.stock}} 
            {% else %}
              No aplica
            {% endif %}
          </p>
          <p><strong>${{product.price}}</strong></p>
        </a>
        <button id="{{product.id}}" onclick="location.href='/pizzarela/products/{{product.id}}/delete'"><strong>Eliminar</strong></button>
      </div>
      {% endfor %}
      <button onclick="location.href='/pizzarela/products/new'"><strong>Agregar</strong></button>
    </div>
  </section>
{% endblock content %}
