{% extends "base.html" %}
{% block content %}
  <section class="pizzarela-side">
  </section>
  <section class="pages-content">
    <h1>Categorias</h1>
    <div class="model-container">
      {% for category in categories %}   
      <div class="category">
        <a href="/pizzarela/categories/{{category.id}}/edit">
          <h3>{{category.name}}</h3>
          <p>- {{category.description}}</p>
        </a>
        <button id="{{category.id}}" onclick="location.href='/pizzarela/categories/{{category.id}}/delete'">Eliminar</button>
      </div>     
      {% endfor %}
      <button onclick="location.href='/pizzarela/categories/new'">Agregar</button>
    </div>
  </section>
{% endblock content %}
