{% block content %}

<button onclick="location.href='/bakery/categories/new'">agregar</button>
  <table>
    <tr>
    <th>name</th>
    <th>description</th>

    </tr>
    {% for category in categories %}        
      <tr>
        <td>{{category.name}}</td>
        <td>{{category.description}}</td>
        <td><button id="{{category.id}}" onclick="location.href='/bakery/categories/{{category.id}}/edit'">actualizar</button></td>
        <td><button id="{{category.id}}" onclick="location.href='/bakery/categories/{{category.id}}/delete'">eliminar</button></td>
      </tr>
    {% endfor %}
  </table>

{% endblock content %}