{% extends "base.html" %}
{% block content %}
  <section class="bakery-side">
  </section>
  <section class="pages-content">
    <h1>Categorias</h1>
    <div class="model-container">
      {% for category in categories %}
      <div class="category">
        <a href="/bakery/categories/{{category.id}}/edit">
          <h3>{{category.name}}</h3>
          <p>{{category.description}}</p>
        </a>
        <button id="{{category.id}}" onclick="location.href='/bakery/categories/{{category.id}}/delete'"><strong>Eliminar</strong></button>
      </div>
      {% endfor %}
      <button onclick="location.href='/bakery/categories/new'"><strong>Agregar</strong></button>
    </div>
  </section>
{% endblock content %}
