<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Servicios en la nube</title> {% endblock title %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/bakery">Bakery</a>
      <a href="/pizzarela">Pizzarela</a>
    </nav>

    <main class="home">
      {% block content %}
      {% endblock content%}
    </main>
    
	  <script type="text/javascript"></script>
    {% block js %}
    {% endblock js %}
  </body>
</html>


