{% extends "base.html" %}
{% block content %}
  <section class="pizzarela-side">
  </section>
  <section class="pages-content">
    
    <h1>Ordenes</h1>
    <div class="model-container">
      {% for order in orders %}
      <div class="category order">
        <a href="/pizzarela/orders/{{order.id}}/edit">
          <h3>Expedido en: {{order.created_at}}</h3>
          <p>Total: <strong>${{order.total}}</strong></p>
        </a>
        <button id="{{order.id}}" onclick="location.href='/pizzarela/orders/{{order.id}}/delete'"><strong>Eliminar</strong></button>
      </div>
      {% endfor %}
      <button onclick="location.href='/pizzarela/orders/new'"><strong>Agregar</strong></button>
    </div>
  </section>
{% endblock content %}
