{% extends "base.html" %}
{% block content %}
  <form action="/orders/{{id}}/edit" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if errors %}
      {{errors}}
    {% endif %}

    <div id="order-items">
      {% for orderItem in orderItems %}
        <div id="order-item">
          <input type="hidden" name="id" value="{{orderItem.id}}">
          <div>
            <label for="id_product">Productos</label>
            <select name="product" id="id_product" required>
              <option value selected>Selecciona un producto</option>
              {% for product in products %}
                {% if orderItem.product.id == product.id %}
                  <option value="{{product.id}}" selected>{{product.name}}</option>
                {% else %}
                  <option value="{{product.id}}">{{product.name}}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
          <div>
            <label for="id_quantity">Cantidad</label>
            <input type="number" name="quantity" value="{{orderItem.quantity}}" id="id_quantity" min=0 required>
          </div>
          <button type="button" onclick="deleteForm(event)">eliminar</button>
        </div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Aceptar</button>

  </form>
  <script>
    const deleteForm = event => {
      const parent = event.target.parentElement;
      parent.remove();
    }
  </script>

{% endblock content %}
