{% extends "base.html" %}
{% block content %}
  <section class="pizzarela-side">
  </section>
  <section class="pages-content">
    <form action="/pizzarela/orders/{{id}}/edit" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% if errors %}
        {{errors}}
      {% endif %}
  
      <div class="order-items" id="order-items">
        {% for orderItem in orderItems %}
          <div class="order-item" id="order-item">
            <input type="hidden" name="id" value="{{orderItem.id}}">
            <p>
              <label for="id_product">Productos</label>
              <select name="product" id="id_product" required>
                <option value selected>Selecciona un producto</option>
                {% for product in products %}
                  {% if orderItem.product.id == product.id %}
                    <option value="{{product.id}}" selected>{{product.name}} - ${{product.price}} </option>
                  {% else %}
                    <option value="{{product.id}}">{{product.name}} - ${{product.price}} </option>
                  {% endif %}
                {% endfor %}
              </select>
            </p>
            <p>
              <label for="id_quantity">Cantidad</label>
              <input type="number" name="quantity" value="{{orderItem.quantity}}" id="id_quantity"  min="1" oninvalid="this.setCustomValidity('Debe ordenar entre 1 a 100 pasteles')" max="100" required>
            </p>
            <button type="button" onclick="deleteForm(event)">eliminar</button>
          </div>
          {% endfor %}
      </div>
      <button type="submit" class="btn btn-primary">Aceptar</button>
  
    </form>
    <div class="link-container">
      <a href="/pizzarela/orders">Volver</a>
    </div>
    <script>
      const deleteForm = event => {
        const parent = event.target.parentElement;
        parent.remove();
      }
    </script>
      
  </section>
{% endblock content %}
