<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bakery</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/bakery">Bakery</a>
    <a href="/pizzarela">Pizzarela</a>
  </nav>
  <main>
    <section class="bakery-side">
    </section>
    <section class="pages-options">
      <a href="bakery/categories">Categorias</a>
      <a href="bakery/cakes">Pasteles</a>
      <a href="bakery/orders">Ordenes</a>
    </section>
  </main>
</body>
</html>