{% extends "base.html" %}
{% block content %}
  <section class="bakery-side">
  </section>
  <section class="pages-content">
    <h1>Registrar pastel</h1>
    <form action="/bakery/cakes" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% if errors %}
        {{errors}}
      {% endif %}
      <p>
        <label for="id_name">Nombre</label>
        <input type="text" name="name" id="id_name" maxlength="50" required>
      </p>
      <p>
        <label for="id_price">Precio</label>
        <input type="number" name="price" id="id_price" step="0.001" min="0.1" required>
      </p>
      <p>
        <label for="id_categoty">Categoria</label>
        <select name="category" id="id_categoty" required>
          <option value selected>Selecciona categoria</option>
          {% for category in categories %}
            <option value="{{category.id}}">{{category.name}}</option>
          {% endfor %}
        </select>
      </p>
      <button type="submit" class="btn btn-primary">Aceptar</button>
    </form>
    <div class="link-container">
      <a href="/bakery/cakes">Volver</a>
    </div>
  </section>
{% endblock content %}
