{% extends "base.html" %}
{% block content %}
  <section class="bakery-side">
  </section>
  <section class="pages-content">
    <h1>Pasteles</h1>
    <div class="model-container">
      {% for cake in cakes %}
      <div class="category cake">
        <a href="/bakery/cakes/{{cake.id}}/edit">
          <h3>{{cake.name}}</h3>
          <p><strong>Categoria --</strong> {{cake.category.name}}</p>
          <p><strong>${{cake.price}}</strong></p>
        </a>
        <button id="{{cake.id}}" onclick="location.href='/bakery/cakes/{{cake.id}}/delete'"><strong>Eliminar</strong></button>
      </div>
      {% endfor %}
      <button onclick="location.href='/bakery/cakes/new'"><strong>Agregar</strong></button>
    </div>
  </section>
{% endblock content %}
